
// Color system
$blue: #66c0f4;


// Options
$enable-shadows: true;
$enable-gradients: true;


// Body
$body-bg: #222233;
$body-color: #fff;


// Typography
$font-family-sans-serif: "Motiva Sans", Sans-serif;
